<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="admin">Admin:</label>
    <input type="checkbox" name="admin" value="Admin" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
  <h4><a class="badge badge-primary" href="/login">Log in instead</a></h4>
</form>

<script src="/js/signup.js"></script>